<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293139715700-6cjratcaq6spb6sa2ecuvahpmh5e6q52.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293139715700-6cjratcaq6spb6sa2ecuvahpmh5e6q52</string>
	<key>API_KEY</key>
	<string>AIzaSyCi4YktkOjQecN7SP1It6Txh-BWWq6um4E</string>
	<key>GCM_SENDER_ID</key>
	<string>293139715700</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>tinder-clone-f213c</string>
	<key>STORAGE_BUCKET</key>
	<string>tinder-clone-f213c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293139715700:ios:16a4335f005241c92a6321</string>
</dict>
</plist>